*
!.gitignore
!.gitconfig

!.xmodmap
!.bashrc

!.install.sh

!.config/kitty/kitty.conf

!.config/i3/config
!.config/picom/picom.conf

!.config/polybar
!.config/rofi

!.config/ranger/rc.conf
!.config/nvim/init.vim

!.themes/Ivy
